<form [formGroup]="search" (ngSubmit)="logForm()">
  <label for="title">Title</label>
  <input id="title" formControlName="title" />
  <br />

  <label for="author">Author</label>
  <input id="author" formControlName="author" />
  <br />

  <button [disabled]="!search.valid">Submit</button>

  <pre>Form Value: {{ search.value | json }} </pre>
  <pre>Form Valid: {{ search.valid }} </pre>
  <pre>Title Valid: {{ search.get('title')?.valid }} </pre>
</form>
